---
platform: linux

image_resource:
  type: docker-image
  source: {repository: boshcpi/light-stemcell-builder}

inputs:
  - name: light-stemcell
  - name: builder-src
  - name: stemcells-index
  - name: aliyun-cli

outputs:
  - name: stemcells-index-output
  - name: notification

run:
  path: builder-src/ci/tasks/publish-stemcell-and-checksum.sh

params:
  ALICLOUD_ACCESS_KEY_ID:     ""
  ALICLOUD_SECRET_ACCESS_KEY: ""
  bosh_io_bucket_name_cn:     "bosh-alicloud-light-stemcells-cn"
  bosh_io_bucket_region_cn:   "cn-hangzhou"
  bosh_io_bucket_name_eu:     "bosh-alicloud-light-stemcells-eu"
  bosh_io_bucket_region_eu:   "eu-central-1"

